.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
#logo{
    height: 100px;
    width: 200px;
    float: left;
    margin-right:40px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
background-color: black;

  }
  
  .topnav a {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .topnav a:hover {
    background-color:blueviolet;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: blue;
    color: white;
  }
  .home{
    background-image: url(../img/image/home\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;


  }

 #h01{
   color: white;
   text-align: centre;
   padding-top: 250px;
   padding-bottom: 350px;
   font-size: 20px;

 }
 #he1{
   text-align: centre;
   font-size: 20px;
   margin-left: 450px;
 }
 .pizzol{
   margin-left:450px;
 }
  